@charset "utf-8";
/* CSS Document */
:root {
	--bgColor: #0f1a20;
	--mainFont: #9de4ec;
	--barLeft: #014383;
	--barRight: #042e57;
}

::placeholder{
	color: rgb(157, 228, 236, 0.5);
}

html {
	font-family: 'Montserrat', sans-serif;
	background-color: var(--bgColor);
	display: flex;
	flex-direction: column;
	align-items: center;
}

h2 {
	background: linear-gradient(90deg, var(--barLeft) 0%, var(--barRight) 100%);
	border: solid #0266ca 2px;
	padding: 0.5em;
}

p {
	font-size: 1.5em;
}

.fas {
	background-color: var(--mainFont); 
	color: var(--bgColor);
	padding: 0.55em;
	margin-right: 0.5em;
}

.item {
	margin:1em;
}



.wrapper {
	color:var(--mainFont);		
	width: 800px;
	min-height: 800px;
	padding: 2em;
}

input {
	width: 100%;
	height: 1.5em;
	margin-top: 1em;
	color:var(--mainFont);
	background: linear-gradient(90deg, var(--barLeft) 0%, var(--barRight) 100%);
	border: none;
	padding: 0.5em;
	padding-left: 0.5em;
}


/* Buttons */
.roll-butt {
	background-color: var(--mainFont);
	border: none;
	width: 4em;
	height: 2em;
}

.nextButt {
	display: flex;
	align-items: center;
}

.nextB {
	color: var(--mainFont);
	border: solid var(--mainFont) 1px;
	width: 20em;
	padding: 0.6em;
	
	background: linear-gradient(to right, #e40023 50%, var(--bgColor) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;

}

.nextB:hover {
	
  background-position: left bottom;
}

.prevButt {
	display: flex;
	align-items: center;
}

.prevB {
	color: var(--mainFont);
	border: solid var(--mainFont) 1px;
	width: 20em;
	padding: 0.6em;
	margin-right: 1em;
	
	background: linear-gradient(to right, #e65514 50%, var(--bgColor) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;

}

.prevB:hover {
	
  background-position: left bottom;
}

.buttSelect {
	margin: 2em;
	display: flex;
	
}

/* Conditions Page*/
#conditions {
	font-size: 0.75em;
}

.randButt {
	width: 100px;
	
	
}